:root {
  --wine-red: #C7375F;
  --bright-red: #D42D2F;
  --dark-green: #344D2F;
  --light-green: #77A047;
  --gold: #FAC57D;
  --snow: #F0F4F7;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--snow);
    text-align: center;

}

h1 {
  padding: 2.5px 10px;
  border-radius: 5px;
  color: var(--bright-red);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

h2 {
  border-radius: 5px;
  text-align: center;
  color: var(--dark-green);
  background-color: var(--gold);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

button {
  font-size: medium;
  background-color:  var(--wine-red);
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-weight: bold;
  border: 1px solid;
}