/* Requirements for JavaScriptmas 2023 Day 22

Search input
  - Takes up 1/3 of the width of its container
  
When the user clicks into the search bar:
  - Input grows to entire width of its parent container with smooth transition
  - Shrinks back to original size when user clicks away
  - Blue border
  - Placeholder text is not visible when user clicks inside the search bar

Accessibility
  - For accessibility, form inputs should always have a label. Create a label with a valid for attribute
  - Look up some CSS rules (no need to write it yourself) that hide the search input's label visually but keeps it accessible to screen readers.

Hints and Help
  - Use a transition to make sure the search bar expands smoothly

What to Research:
  - The:focus pseudo selector
  - A pseudo selector that lets you change placeholder styles */

  html, body {
    margin: 0;
    padding: 0;
}

:root {
    --search-border: #bbb;
    --search-focus-border: #3a71ca;
    --wine-red: #C7375F;
    --bright-red: #D42D2F;
    --dark-green: #344D2F;
    --light-green: #77A047;
    --gold: #FAC57D;
    --snow: #F0F4F7;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(search_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    position: relative;
    width: 90%; /* Takes up 1/3 of the width */
    padding: 50px;
}

.search-bar {
    width: 33.3%;
    padding: 10px;
    border: 5px solid var(--search-border);
    border-radius: 10px;
    background-color: var(--snow);
    transition: width 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.search-bar:focus {
  color: var(--snow);  
  width: 100%;
  border-color: var(--search-focus-border);
  outline: none;
  background-color:rgba(212, 45, 47, 0.50);
  font-weight: 900;
  font-size: large;
}

/* Visually hide the label but keep it accessible to screen readers */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Hide the placeholder text when the search bar is focused */
.search-bar:focus::placeholder {
    color: transparent;
}



